html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  color: #333;
}

section {
  margin: 1em;
}

#body {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

#body > div {
  flex: 1;
  overflow: auto;
  margin: 1em;
}

header, footer {
  padding: 10px;
  background: #925;
  color: #ddd;
  text-align: center;
}

header a, footer a {
  color: #fff;
  text-decoration: none;
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 1em;
  border-bottom: 3px solid #703;
}

footer {
  margin-top: 1em;
  border-top: 3px solid #703;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border: 1px solid #aaa;
}

thead, tr {
  width: 100%;
  border: none;
}

td, th {
  padding: 0;
  border: none;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) td:nth-last-child(2), thead {
  background: #ddd;
}

th {
  font-weight: bold;
}

.green {
  background: #88ee88;
}

.green2 {
  background: #aaff99;
}

.yellow {
  background: #eedd99;
}

.orange {
  background: #eecc88;
}

.red {
  background: #ffaa99;
}

td[rowspan], thead {
  border-bottom: 1px solid #aaa;
}


@media screen and (max-width: 980px) { 
  #body {
    display: block;
  }
}
